<div class="message-list clearfix">
  <p class="message message-input">Hello, %username%</p>
  <p class="message message-output">How are you? :)</p>
  <p class="message message-input">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Nobis, labore.</p>
  <p class="message message-output">How are you? :)</p>
  <p class="message message-input">Hello, %username%</p>
  <p class="message message-output">How are you? :)</p>
  <p class="message message-input">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Nobis, labore.</p>
  <p class="message message-output">How are you? :)</p>
  <p class="message message-input">Hello, %username%</p>
  <p class="message message-output">How are you? :)</p>
  <p class="message message-input">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Nobis, labore.</p>
  <p class="message message-output">How are you? :)</p>
  <p class="message message-input">Hello, %username%</p>
  <p class="message message-output">How are you? :)</p>
  <p class="message message-input">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Nobis, labore.</p>
  <p class="message message-output">How are you? :)</p>
</div>
